body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}




.container {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.08);
    padding: 32px 24px;
    max-width: 400px;
    width: 100%;
    margin: 24px 0;
}

.container h1{
    text-align: center;
    margin:20px 0;
}

.container ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    list-style: none;
    margin: 24px 0;
    
}